<h1>Listing beanaries</h1>

<div class="newBean"><br/><br/><%= link_to 'New Bean', new_bean_path %></div>
<br/><br/>

<table>
  <thead>
    <tr>
      <th>Snippet</th>
      <th>Lang</th>
      <th>Description</th>
      <th>Actions</th>

    </tr>
  </thead>

  <tbody>

<div id="my-beans">
  <%= render @beans %>
</div>
 
<div id="infinite-scrolling">
  <%= will_paginate %>
</div>

   
  </tbody>
</table>

<br>


