<h1>Listing beanaries</h1>

<%= link_to 'New Bean', new_bean_path %>
<br/><br/>

<table>
  <thead>
    <tr>
      <th>Snippet</th>
      <th>Lang</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>

<div id="my-beans">
  <%= render @beans %>
</div>
 
<div id="infinite-scrolling">
  <%= will_paginate %>
</div>

   
  </tbody>
</table>

<br>


